body{
    margin: 0;
    font-family: 'Anton', sans-serif;
     color: #000;
     font-size: 12px;
     line-height: 2;

}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.input {
    height: 45px;
    width: 100%;
    color: #3B5983;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #E9F2FF;
    border-radius: 5px;
    padding-left: 25px;
}
input:focus {
    outline: none;
    border: 2px solid #C1D9FD;
}
input:valid {
    border-color: greenyellow;
}
input:invalid {
    border-color: orange;
}
input:not(:focus):invalid {
    border-color: #C1D9FD;
}
main {
    background:rgb(230, 98, 98);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circle {
    position: absolute;
    z-index: 1;
    width: 2534px;
    height: 2534px;
    border-radius: 50%;
    background: black;
    box-shadow: 0px 4px 30px 6px black;
    animation-name: fadeCircle;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-delay: .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeCircle {
    0% {
        width: 2534px;
        height: 2534px;
    }
    25% {
        width: 2000px;
        height: 2000px;
    }
    50% {
        width: 1500px;
        height: 1500px;
    }
    75% {
        width: 1000px;
        height: 1000px;
    }
    100% {
        width: 534px;
        height: 534px;
    }
}
.register-form-container {
    opacity: 0;
    position: relative;
    z-index: 2;
    max-width: 415px;
    width: 100%;
    background: silver;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 38px;
    padding-bottom: 38px;
    animation-name: fadeForm;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeForm {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}
.form-field {
    margin-bottom: 13px;
    font-family: 'Anton', sans-serif ;
}
.button {
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    display:block;
    height: 45px;
    background: darkred;
    border-radius: 5px;
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    border: none;
}
.button:hover {
    background-color:#000;
}
.copyright{
    background-color: black;
    text-align: center;
}
.fa {
    padding: 30px;
    font-size: 40px;
    width: 50px;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    background: black;
    color: white;
  }
  .fa-twitter {
    background:black;
    color: white;
  }
  .fa-instagram {
    background:black;
    color: white;
  }
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.nav{
    font-size: 20px;
    font-family:fantasy;
    text-transform: uppercase;

}
.navlink{
    color:black;
    text-decoration: none;
    transition: color 0.2s linear; 
    display: inline-block;
    vertical-align: top; 
    margin: 0 40px;
    position: relative;
}
.navlink::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: red;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .2s linear;
}
.navlink:hover{
    color: red;
}
.navlink:hover::after{
    opacity: 1;
}
.intro{
    width: 100%;
    height: 100vh;
    background:url(https://static.wixstatic.com/media/a9743b_f3845edede1e4dc5821c03ae7ec89431~mv2.jpg/v1/fill/w_1349,h_695,al_c,q_85,usm_0.66_1.00_0.01/a9743b_f3845edede1e4dc5821c03ae7ec89431~mv2.webp) center no-repeat;
    background-size: cover;
}
.intro-2{
    width: 100%;
    height: 50vh;
    background:url(https://static.wixstatic.com/media/82afc7_3ad12ca9914e484eaad8c67d500f7805~mv2.jpg/v1/fill/w_882,h_347,al_tl,q_80,usm_0.66_1.00_0.01/82afc7_3ad12ca9914e484eaad8c67d500f7805~mv2.webp) center no-repeat;
    background-size: cover;
}
.containerbtn{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnimg{
    padding-top: 15px;
}
.btn2{
    display: inline-block;
    border: 2px solid rgb(87, 104, 182);
    background-color: seashell;
    color:rgb(87, 104, 182);
    padding: 10px 35px ;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.25s linear,color 0.25s linear;
    
}
.btn2:hover{
    background-color: steelblue;
    color: seashell;
}
.intro-text{
    font-size: 50px;

}
.intro-para1{
    width: 100%;
    max-width: 400px;
    font-size: 20px;
    
}
.intro-para2{
    width: 100%;
    max-width: 400px;
    font-size: 18px;
    font-family: 'Georama', sans-serif;
}
.intro-para3{
    width: 100%;
    max-width: 400px;
    font-size: 20px;
    
}
.btn{
    display: inline-block;
    border: 2px solid darkred;
    background-color: darkred;
    color: #fff;
    padding: 10px 35px ;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.25s linear,color 0.25s linear;
}
.btn:hover{
    background-color: black;
    color: darkred;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.page-2{
    background:url(https://static.wixstatic.com/media/a9743b_32d6adf56f134cbbb03f7478fd4b479d~mv2.jpg/v1/fill/w_1000,h_195,al_c,q_80/a9743b_32d6adf56f134cbbb03f7478fd4b479d~mv2.webp) center no-repeat;
    width: 100%;
    height: 150px;
    background-size: cover;
}
.page-4{
    background: url(https://static.wixstatic.com/media/a9743b_32d6adf56f134cbbb03f7478fd4b479d~mv2.jpg/v1/fill/w_1000,h_195,al_c,q_80/a9743b_32d6adf56f134cbbb03f7478fd4b479d~mv2.webp) center no-repeat;
    width: 100%;
    height: 150px;
    background-size: cover;
}
.cont-2{
width: 100%;
background-color: rgb(230, 98, 98);
margin: 0 auto;
height: 100%;
}
.registr{
    padding-bottom: 50px;
}
.anketa{
text-align: center;
padding: 30px;
}
.H1{
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
}
.H2{
  font-size: 20px;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 500;
}
.contact{
    font-size: 50px;
    color: #fff;
    font-family:'Anton', sans-serif ;
    text-align: center;
    padding-top: 22px;
}
.about{
    font-size: 50px;
    color: #fff;
    font-family:'Anton', sans-serif ;
    text-align: center;
    padding-top: 22px;
}
.text-about{
    font-family: 'Maven Pro', sans-serif;
    font-size: 15px;
}
.section{
padding: 80px,0;
}
.section-head{
    background-color: rgb(230, 98, 98);
    padding-top: 50px;
text-align: center;
display:flexbox;
}
.tanysu{
    text-align: center;
    font-size: 50px;
    
}
.meet{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.meet-item{
    width: 252px;
    background-color: rgb(230, 98, 98);
    position: relative;
}
.meet-item:hover .meet-text{
    opacity: 1;
}
.meet-item:hover .meet-img img{
    opacity: 0.1;
}
.meet-item:hover .meet-img img{
    transform: translate3d(-10px,-10px,0);
}
.meet-img{
    background:linear-gradient(to bottom ,rgb(230, 98, 98),#800000);
    transition: transform 0.3s linear;
}
.meet-img img{
    transition: opacity 0.3s linear;
    display: block;
}
.meet-text{
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: seashell;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0 ,-50% ,0);
    transition: opacity .2s linear;
}
.page-3{
    padding: 100px; ;
    background-color: rgb(214, 205, 205);
    color: black;
    font-size: 20px;
    text-align: center;
}
.donate{
    display: flex;
margin-bottom: -7px;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}